.footer {
  box-sizing: border-box;
  position: fixed;
  border: 1px solid rgb(212, 212, 212);
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 55px;
  display:flex;
  z-index: 100;
}

footer.footer {
  background-color: white;
  padding: 0;
}

.footer-hidden {
  display: none;
}

 .rhap_container * {
   color:black;
 }

 .player-button:hover {
   cursor: pointer;
 }