.drop_zone {
    height: 500px;
    width: 50%;
    border: 1px solid rgb(134, 134, 134);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px auto;
  }
.drop_zone_submit {
    height: 500px;
    width: 50%;
    border: 1px solid rgb(134, 134, 134);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px auto;
  }

  label {
    margin: 10px;
  }

  .image-preview {
    object-fit: contain;
    width: 200px;
    height: 200px;
  }

#choose-audio-file-button {
  display:none;
}

.custom-file-upload {
  background-color: #FD5600;
  color: white;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 20px;
  width: 50%;
  align-self: center;
  text-align: center;
}

.drop_zone:first-child {
  align-items: center;
}