/* TODO Add site wide styles */
* {
    font-family: interstate, sans-serif;
}
body {
    margin: 0;
    background-color: #F2F2F2;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    width: 100%;
    max-width: 1240px;
    align-self: center;
}