.song-image-list-item-container {
    width: 200px;
}

.song-image-list-item-container img {
    width: 100%;
}

.all-songs {
    z-index: inherit;
}

.genre-list-item {
    display:flex;
    flex-direction: row;
}

.genre-carousel-item div {
    margin: 2px;
}