.waveform-play {
    border: none;
    border-radius: 50%;
    background-color: #F25503;
    height: 45px;
    width: 45px;
    margin: auto;
    color: white;
    box-shadow: 1px 1px 1px rgba(87, 87, 87, 0.849);
}

.empty-button {
    border: none;
    border-radius: 50%;
    background-color: none;
    height: 45px;
    width: 45px;
    margin: auto;
    /* box-shadow: 1px 1px 1px rgba(87, 87, 87, 0.849); */
}

.waveform-play:hover {
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.849);
}

.controls {
    margin: auto 0px auto 20px;
    align-items: center;
}

.controls-and-title {
    display: flex;
    flex-direction: row;
}

.waveform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 50px;
}

.loading-waveform {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: -55px;
    margin-left: auto;
    margin-right: auto;
    background: #7e7e7e77;
    border-radius: 3px;
}

.loading-waveform progress {
    width: 50%;
}