.waveform-play {
    border: none;
    border-radius: 50%;
    background-color: #F25503;
    height: 45px;
    width: 45px;
    margin: 15px;
    color: white;
    box-shadow: 1px 1px 1px rgba(87, 87, 87, 0.849);
}

.waveform-play:hover {
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.849);
}