.nav-bar {
    background: #333333;
    color: #EEEEEE;
    height:47px;
    display:flex;
    width: 100%;
    justify-content: center;
}

.occupied-nav-bar {
    background: #333333;
    color: #EEEEEE;
    width: 1240px;
    height:47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 730px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.nav-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-right: 0;
}

.down-caret {
    size: 100px;
    margin-left: 5px;
}

.nav-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.nav-left button {
    border: 1px solid black;
}

.nav-left button:hover {
    color: white;
}

.nav-button {
    height: 100%;
    background-color: #333333;
    color:#EEEEEE;
    border: none;
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;;
}

.button_login {
    height: 100%;
    background-color: #333333;
    color:#EEEEEE;
    border: none;
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;;
}

.profile-dropdown li {
    width: 100%;
    margin: 0;
    border: none;
    background-color: white;
    line-height: 27px;
    font-size: 12px;
    color: #333333;
}

#nav-logout {
    width: 100%;
    margin: 0;
    border: none;
    background-color: white;
    line-height: 17px;
    font-size: 12px;
    color: #333333;
    padding-left: 0px;
    text-align: left;
}

#nav-logout:hover {
    cursor: pointer;
}

.logout-icon {
    margin-right: 5px;
    margin-left: 0px;
}

.playlist-icon {
    margin-right:  5px;
}

.nav-button:hover {
    cursor: pointer;
}

.button_login:hover {
    cursor: pointer;
}

.nav-bar-upload {
    margin: auto;
}

.nav-bar-icon {
    height: 47px;
    overflow: hidden;
}

.nav-bar-icon img {
    margin: -30px 0px -30px 0px;
    background-color: #FF5700;
    height: 225%
}

.profile-dropdown {
    position: absolute;
    top: 30px;
    width: 75px;
    padding:7px 10px;
    background-color:white;
    list-style-type: none;
    gap:18px;
    z-index: 100;
    box-shadow: 0px 8px 20px rgba(110, 110, 110, 0.25);
    border: 1px solid black;
    color: black;
}

.profile-icon {
    margin-right: 6px;
}

.open-dropdown-button {
    background-color: #111111;
    margin-right: 0;
}

.profile-dropdown-button {
    width: 105px;
}

.github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    font-size: 13px;
    border-right: solid 1px black;
}

.nav-search {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.searchbar {
    border-radius: 4px;
    line-height: 20px;
    height: 25px;
    width: 100%;
    padding-left: 10px;
    position: relative;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.search-button {
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: transparent;
    border: none;
    color: #333333;
    z-index: 10;
}

.search-button:hover {
    cursor: pointer;
    color: black;
}

.searchbar:focus {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.search-label {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: center;
}